networks:
  smitci_network:
    driver: bridge
  proxy:
    external: true   # <- réseau Traefik

volumes:
  pgdata:
  static_volume:
  media_volume:
  logs_volume:

services:
  smitDB:
    image: postgis/postgis:16-3.4
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      PG_DATA: /data
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - smitci_network
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 10


  redis:
    image: redis:7
    restart: always
    networks:
      - smitci_network
      - proxy
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
    cpus: "0.20"
    mem_limit: "256m"

  smitweb:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      gunicorn smitci.wsgi:application
      --bind 0.0.0.0:8000
      --workers 2 --threads 2
      --timeout 60
      --log-level warning
    volumes:
      - .:/smitci-app
      - static_volume:/smitci-app/static
      - media_volume:/smitci-app/media
      - logs_volume:/var/log/app
    env_file: [.env]
    restart: always
    depends_on:
      smitDB:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - smitci_network
      - proxy
    cpus: "0.80"
    mem_limit: "2024m"
    labels:
      - traefik.enable=true
      # ==== Router HTTPS
      - traefik.http.routers.smitci.rule=Host(`smitci.com`)
      - traefik.http.routers.smitci.entrypoints=websecure
      - traefik.http.routers.smitci.tls.certresolver=lets
      # ==== Service (port interne du conteneur)
      - traefik.http.services.smitci.loadbalancer.server.port=8000
      # ==== Middlewares (si tu les as définis sur Traefik)
      - traefik.http.routers.smitci.middlewares=sec-headers@docker,compress@docker,ratelimit@docker

  celeryworker:
    build:
      context: .
      dockerfile: Dockerfile   # ✅ placé sous build
    command: >
      celery -A smitci worker
      --loglevel=warning
      --concurrency=1 --autoscale=2,1
      --prefetch-multiplier=1 -Ofair
      --max-tasks-per-child=100
      --without-gossip --without-mingle
    volumes:
      - .:/smitci-app
    env_file: [.env]
    restart: always
    depends_on:
      smitDB:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - smitci_network
      - proxy
    cpus: "0.60"
    mem_limit: "768m"

  celerybeat:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      celery -A smitci beat
      --loglevel=warning
      --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/smitci-app
    env_file: [.env]
    restart: always
    depends_on:
      smitDB:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - smitci_network
      - proxy
    cpus: "0.30"
    mem_limit: "512m"

  smitadminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: smitDB
    depends_on:
      smitDB:
        condition: service_healthy
    networks:
      - smitci_network
      - proxy
    cpus: "0.10"
    mem_limit: "128m"
    labels:
      - traefik.enable=true
      - traefik.http.routers.smitadminer.rule=Host(`adminer.smitci.com`)
      - traefik.http.routers.smitadminer.entrypoints=websecure
      - traefik.http.routers.smitadminer.tls.certresolver=lets
      - traefik.http.services.smitadminer.loadbalancer.server.port=8080
      - traefik.http.routers.smitadminer.middlewares=traefik-auth@docker,sec-headers@docker,compress@docker,ratelimit@docker


#networks:
#  smitci_network:
#    driver: bridge
#
#volumes:
#  pgdata:
#  static_volume:
#  media_volume:
#  logs_volume:
#
#services:
#  smitDB:
#    image: postgis/postgis:16-3.4
#    restart: always
#    environment:
#      POSTGRES_DB: ${DATABASE_NAME}
#      POSTGRES_USER: ${DATABASE_USER}
#      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
#      PG_DATA: /data
#    volumes:
#      - pgdata:/var/lib/postgresql/data
#    networks: [smitci_network]
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
#      interval: 10s
#      timeout: 5s
#      retries: 10
#    # Limites (compatibles docker compose classique)
#    cpus: "1.0"
#    mem_limit: "1536m"
#
#  redis:
#    image: redis:7
#    container_name: smit_redis
#    restart: always
#    ports:
#      - "6388:6379"
#    networks: [smitci_network]
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      interval: 10s
#      timeout: 5s
#      retries: 10
#    cpus: "0.20"
#    mem_limit: "256m"
#
#  smitweb:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    # Réduit le coût Gunicorn (2 workers / 2 threads)
#    command: >
#      gunicorn smitci.wsgi:application
#      --bind 0.0.0.0:8000
#      --workers 2 --threads 2
#      --timeout 60
#      --log-level warning
#    ports:
#      - "1909:8000"
#    volumes:
#      - .:/smitci-app
#      - static_volume:/smitci-app/static
#      - media_volume:/smitci-app/media
#      - logs_volume:/var/log/app
#    env_file: [.env]
#    restart: always
#    depends_on:
#      smitDB:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#    networks: [smitci_network]
#    cpus: "0.80"
#    mem_limit: "2024m"
#
#  celeryworker:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: smit_celery_worker
#    command: >
#      celery -A smitci worker
#      --loglevel=warning
#      --concurrency=1 --autoscale=2,1
#      --prefetch-multiplier=1 -Ofair
#      --max-tasks-per-child=100
#      --without-gossip --without-mingle
#    volumes:
#      - .:/smitci-app
#    env_file: [.env]
#    restart: always
#    depends_on:
#      smitDB:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#    networks: [smitci_network]
#    cpus: "0.60"
#    mem_limit: "768m"
#
#  celerybeat:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: smit_celery_beat
#    command: >
#      celery -A smitci beat
#      --loglevel=warning
#      --scheduler django_celery_beat.schedulers:DatabaseScheduler
#    volumes:
#      - .:/smitci-app
#    env_file: [.env]
#    restart: always
#    depends_on:
#      smitDB:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#    networks: [smitci_network]
#    cpus: "0.30"
#    mem_limit: "512m"
#
#  smitadminer:
#    image: adminer
#    restart: always
#    ports:
#      - "1910:8080"
#    environment:
#      ADMINER_DEFAULT_SERVER: smitDB
#    depends_on:
#      smitDB:
#        condition: service_healthy
#    networks: [smitci_network]
#    cpus: "0.10"
#    mem_limit: "128m"
#
