annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
cachetools==5.4.0
chardet==5.2.0
decorator==5.1.1
diff-match-patch==20230430
Django==4.2.14
django-allauth==0.63.6
django-countries==7.6.1
django-extensions==3.2.3
django-humanize==0.1.2
django-import-export==4.1.1
django-qr-code==4.0.1
django-qrcode==0.3
django-scheduler==0.10.1
django-simple-history==3.7.0
django-tinymce==4.1.0
django-unicorn==0.61.0
Faker==26.1.0
fontawesomefree==6.6.0
gunicorn==22.0.0
humanize==4.10.0
icalendar==5.0.13
importlib_metadata==8.4.0
orjson==3.10.6
packaging==24.1
pillow==10.4.0
psycopg2-binary
pydantic==2.8.2
pydantic_core==2.20.1
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2024.1
qrcode==7.4.2
reportlab==4.2.2
segno==1.6.1
shortuuid==1.0.13
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
tablib==3.5.0
typing_extensions==4.12.2
zipp==3.20.1
gunicorn
