<div class="dropdown">
    <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle"
       data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
    <div class="dropdown-menu dropdown-menu-right">
        <ul class="link-list-opt no-bdr">
            <li><a href="#"><em class="fa fa-eye mr-1"></em> Voir Dossier</a></li>
            <li><a href="#"><em class="fa fa-edit mr-1"></em> Modifier</a></li>
            <li><a href="#"><em class="fa fa-trash mr-1"></em> Supprimer</a></li>
        </ul>
    </div>
</div>