{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <div class="nk-content nk-content-fluid">

        <div class="container-xl wide-lg">

            <div class="nk-content-body">

                <div class="nk-block-head nk-block-head-sm ">
                    <div class="row rounded"
                         style="height: 200px; background-image: url('{% static 'images/pharmacie.jpg' %}'); background-repeat: no-repeat; background-size: 100%">
                        <div class="nk-block-between">

                            <div class="nk-block-head-content">
                                <h1 class="nk-block-title page-title ml-20 center" style="color: black">Ajouter nouveau Medicament</h1>
                                <div class="nk-block-des text-soft">
                                    <p>Nouveau patient</p>
                                </div>
                            </div><!-- .nk-block-head-content -->

                        </div>
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-inner-group">

                                <div class="row m-4">
                                    {% for field in form %}
                                        <div class="col-md-3 mb-4">
                                            <label for="{{ field.id_for_label }}"
                                                   class="{% if field.field.required %}required-label{% endif %}">
                                                {{ field.label }}
                                                {% if field.field.required %}
                                                    <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>
                                            {{ field }}

                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div><!-- .card -->

                            <div class="mb-10">
                                <button type="submit" class="btn btn-primary mb-5 mr-5 float-right">
                                    <i class="fa-solid fa-floppy-disk mr-2"> </i> Enregistrer
                                </button>
                                <button type="reset" class="btn btn-secondary mb-10 mr-5 float-right">
                                    <i class="fa-solid fa-cancel mr-2"> </i> Annuler
                                </button>

                            </div>
                        </form>
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const communeSelect = document.getElementById('commune');
            const nouvelleCommuneInput = document.getElementById('nouvelle_commune');

            // Masquer le champ "nouvelle commune" au chargement
            if (nouvelleCommuneInput) {
                nouvelleCommuneInput.style.display = 'none';
            }

            // Afficher le champ si "Autre" est sélectionné
            communeSelect.addEventListener('change', function () {
                if (this.value === '' || this.value === 'autre') {
                    nouvelleCommuneInput.style.display = 'block';
                } else {
                    nouvelleCommuneInput.style.display = 'none';
                    nouvelleCommuneInput.value = ''; // Réinitialiser le champ
                }
            });
        });
    </script>
{% endblock %}