{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <div class="nk-content nk-content-fluid">

                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">


                                    <div class="nk-block-head-content">
                                        <div class="nk-block float-left">
                                            <img src="{% static 'images/images.png' %}" width="110">
                                       </div>
                                        <h3 class="nk-block-title page-title">Patient / <strong class="text-primary small">{{ patientsdetail.nom }} {{ patientsdetail.prenoms }}</strong></h3>
                                        <div class="nk-block-des text-soft ml-5">
                                            <ul class="list-inline">
                                                <li>UUID: <span class="text-base">{{ patientsdetail.code_patient }}</span></li>
                                                 <li>Derniere Visite: <span class="text-base">15 Feb, 2019 01:02 PM</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="/" class="btn btn-outline-light bg-secondary-dim d-none d-sm-inline-flex mr-5"><em class="icon ni ni-printer-fill"></em><span>Imprimer</span></a>
                                        <a href="/" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                        <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
{#                                      debut du nav#}

                                         <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#tabItem0"><em class="icon ni ni-user-circle"></em><span>Personnel</span></a>
                                                </li>
                                                {% for service in patientsdetail.services_passed  %}
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#tabItem{{ service.id }}"><em class="icon ni ni-repeat"></em><span>{{ service.nom }}</span></a>
                                                </li>

                                                {% endfor %}
                                                <li class="nav-item nav-item-trigger d-xxl-none">
                                                    <a href="#" class="toggle btn btn-icon btn-trigger" data-target="userAside"><em class="icon ni ni-user-list-fill"></em></a>
                                                </li>

                                            </ul><!-- .nav-tabs -->
<div class="tab-content">
    <div class="tab-pane active" id="tabItem0">

                                                <div class="nk-block">
                                                    <div class="nk-block-head">
                                                        <h5 class="title">Personal Information</h5>
                                                        <p>Informations relative au patient.</p>
                                                    </div><!-- .nk-block-head -->
                                                    <div class="profile-ud-list">
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Sexe</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.genre }}.</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Nom & Prenom </span>
                                                                <span class="profile-ud-value">{{ patientsdetail|upper }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Date de naissance</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.date_naissance }}</span>

                                                            </div>
                                                        </div>

                                                         <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Lieu de naissance</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.lieu_naissance }}</span>
                                                            </div>
                                                        </div>

                                                         <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">âge</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.calculate_age }} ans</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Code patient</span>
                                                                <span class="profile-ud-value"> <i class="fa-solid fa-lock"></i> {{ patientsdetail.code_patient  }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Contact</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.contact }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Email</span>
                                                                <span class="profile-ud-value">info@afriqconsulting.com</span>
                                                            </div>
                                                        </div>
                                                    </div><!-- .profile-ud-list -->
                                                </div><!-- .nk-block -->
                                                <div class="nk-block">
                                                    <div class="nk-block-head nk-block-head-line">
                                                        <h6 class="title overline-title text-base">Information Supplémentaire</h6>
                                                    </div><!-- .nk-block-head -->
                                                    <div class="profile-ud-list">
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Group Sanguin </span>
                                                                <span class="profile-ud-value"><i class="fa-solid fa-droplet text-danger"></i> {{ patientsdetail.groupe_sanguin}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Nationalite </span>
                                                                <span class="profile-ud-value">{{ patientsdetail.nationalite }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Profession</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.profession }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Employeur</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.employeur }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Nombre d'enfants</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.nbr_enfants }} <i class="fa-solid fa-children text-black-50"></i></span>
                                                            </div>
                                                        </div>

                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Situation matrimoniale</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.situation_matrimoniale}}</span>
                                                            </div>
                                                        </div>
                                                    </div><!-- .profile-ud-list -->
                                                </div><!-- .nk-block -->
                                                <div class="nk-divider divider md"></div>
                                                <div class="nk-block">
                                                    <div class="nk-block-head nk-block-head-sm nk-block-between">
                                                        <h5 class="title">Adresse</h5>
                                                    </div><!-- .nk-block-head -->
                                                    <div class="bq-note">
                                                        <div class="bq-note-item">
                                                            <div class=" profile-ud-list">

                                                                <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Pays</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.localite.contry}}</span>
                                                            </div>
                                                        </div>
                                                                <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Ville</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.localite.ville}}</span>
                                                            </div>
                                                        </div>

                                                                <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Commune</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.localite.commune}}</span>
                                                            </div>
                                                        </div>

                                                                <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Quartier</span>
                                                                <span class="profile-ud-value">{{  patientsdetail.localite.quartier}}</span>
                                                            </div>
                                                        </div>
                                                            </div>
                                                        </div><!-- .bq-note-item -->
                                                        <div class="bq-note-item">
                                                            <div class="bq-note-text">
                                                                <p>Aproin at metus et dolor tincidunt feugiat eu id quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sollicitudin non nunc vel pharetra. </p>
                                                            </div>
                                                            <div class="bq-note-meta">
                                                                <span class="bq-note-added">Added on <span class="date">November 18, 2019</span> at <span class="time">5:34 PM</span></span>
                                                                <span class="bq-note-sep sep">|</span>
                                                                <span class="bq-note-by">By <span>Softnio</span></span>
                                                                <a href="#" class="link link-sm link-danger">Delete Note</a>
                                                            </div>
                                                        </div><!-- .bq-note-item -->
                                                    </div><!-- .bq-note -->
                                                </div><!-- .nk-block -->


    </div>
    {% for service, consultations in services_with_consultations %}
    <div class="tab-pane" id="tabItem{{ service.id }}">
        <h4>{{ service.nom }}</h4>
        {% if consultations %}
            {% for consultation in consultations %}
                <div>
                    <h5>Consultation {{ consultation.id }}</h5>
                    <p>Constante: {{ consultation.constante }}</p>
                    <p>Examens: {{ consultation.examens }}</p>
                    <p>Symptômes:</p>
                    <ul>
                        {% for symptome in consultation.symptomes.all %}
                            <li>{{ symptome.nom }}</li>
                        {% endfor %}
                    </ul>
                    <p>Antécédents Médicaux:</p>
                    <ul>
                        {% for antecedent in consultation.antecedentsMedicaux.all %}
                            <li>{{ antecedent.nom }}</li>
                        {% endfor %}
                    </ul>
                    <p>Allergies:</p>
                    <ul>
                        {% for allergie in consultation.allergies.all %}
                            <li>{{ allergie.titre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune consultation pour ce service.</p>
        {% endif %}
    </div>
{% endfor %}


</div>

    <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="true" data-toggle-body="true">
                                            <div class="card-inner-group" data-simplebar>
                                                <div class="card-inner">
                                                    <div class="user-card user-card-s2">
                                                        <div class="user-avatar lg bg-primary">
                                                            <span><img src="{{ patientsdetail.avatar.url }}"/></span>
                                                        </div>
                                                        <div class="user-info">
                                                            <div class="badge badge-outline-light badge-pill ucap">Investor</div>
                                                            <h5>{{ patientsdetail.nom }} {{ patientsdetail.prenoms }}</h5>
                                                            <span class="sub-text">info@softnio.com</span>
                                                        </div>
                                                    </div>
                                                </div><!-- .card-inner -->
                                                <div class="card-inner card-inner-sm">
                                                    <ul class="btn-toolbar justify-center gx-1">
                                                        <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-shield-off"></em></a></li>
                                                        <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-mail"></em></a></li>
                                                        <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-download-cloud"></em></a></li>
                                                        <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-bookmark"></em></a></li>
                                                        <li><a href="#" class="btn btn-trigger btn-icon text-danger"><em class="icon ni ni-na"></em></a></li>
                                                    </ul>
                                                </div><!-- .card-inner -->
                                                <div class="card-inner">
                                                    <div class="overline-title-alt mb-2">In Account</div>
                                                    <div class="profile-balance">
                                                        <div class="profile-balance-group gx-4">
                                                            <div class="profile-balance-sub">
                                                                <div class="profile-balance-amount">
                                                                    <div class="number">2,500.00 <small class="currency currency-usd">USD</small></div>
                                                                </div>
                                                                <div class="profile-balance-subtitle">Invested Amount</div>
                                                            </div>
                                                            <div class="profile-balance-sub">
                                                                <span class="profile-balance-plus text-soft"><em class="icon ni ni-plus"></em></span>
                                                                <div class="profile-balance-amount">
                                                                    <div class="number">1,643.76</div>
                                                                </div>
                                                                <div class="profile-balance-subtitle">Profit Earned</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .card-inner -->
                                                <div class="card-inner">
                                                    <div class="row text-center">
                                                        <div class="col-4">
                                                            <div class="profile-stats">
                                                                <span class="amount">23</span>
                                                                <span class="sub-text">Total Order</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="profile-stats">
                                                                <span class="amount">20</span>
                                                                <span class="sub-text">Complete</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="profile-stats">
                                                                <span class="amount">3</span>
                                                                <span class="sub-text">Progress</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .card-inner -->
                                                <div class="card-inner">
                                                    <h6 class="overline-title-alt mb-2">Additional</h6>
                                                    <div class="row g-3">
                                                        <div class="col-6">
                                                            <span class="sub-text">User ID:</span>
                                                            <span>UD003054</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="sub-text">Last Login:</span>
                                                            <span>15 Feb, 2019 01:02 PM</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="sub-text">KYC Status:</span>
                                                            <span class="lead-text text-success">Approved</span>
                                                        </div>
                                                        <div class="col-6">
                                                            <span class="sub-text">Register At:</span>
                                                            <span>Nov 24, 2019</span>
                                                        </div>
                                                    </div>
                                                </div><!-- .card-inner -->
                                                <div class="card-inner">
                                                    <h6 class="overline-title-alt mb-3">Groups</h6>
                                                    <ul class="g-1">
                                                        <li class="btn-group">
                                                            <a class="btn btn-xs btn-light btn-dim" href="#">investor</a>
                                                            <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                        </li>
                                                        <li class="btn-group">
                                                            <a class="btn btn-xs btn-light btn-dim" href="#">support</a>
                                                            <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                        </li>
                                                        <li class="btn-group">
                                                            <a class="btn btn-xs btn-light btn-dim" href="#">another tag</a>
                                                            <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                        </li>
                                                    </ul>
                                                </div><!-- .card-inner -->
                                            </div><!-- .card-inner -->
                                        </div><!-- .card-aside -->
                                    </div><!-- .card-aside-wrap -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>

{% endblock %}