{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="nk-content nk-content-fluid">

                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">


                                    <div class="nk-block-head-content">
                                        <div class="nk-block float-left">
                                            <img src="{% static 'images/images.png' %}" width="110">
                                       </div>
                                        <h3 class="nk-block-title page-title">Patient / <strong class="text-primary small">{{ patientsdetail.nom }} {{ patientsdetail.prenoms }}</strong></h3>
                                        <div class="nk-block-des text-soft ml-5">
                                            <ul class="list-inline">
                                                <li>UUID: <span class="text-base">{{ patientsdetail.code_patient }}</span></li>
                                                <li>CODE VIH: <span class="text-base">{% if patientsdetail.code_vih %} {{ patientsdetail.code_vih }}{% else %} NEANT {% endif %}</span></li>
                                                 <li>Derniere Visite: <span class="text-base">15 Feb, 2019 01:02 PM</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="nk-block-head-content">
                                        <a href="/" class="btn btn-outline-light bg-secondary-dim d-none d-sm-inline-flex mr-5"><em class="icon ni ni-printer-fill"></em><span>Imprimer</span></a>
                                        <a href="/" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                        <a href="#" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
{#                                      debut du nav#}
{#                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">#}
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link active" data-toggle="tab" href="#tabItem0"><em#}
{#                                                class="icon ni ni-user-circle"></em><span>Personnel</span></a>#}
{#                                    </li>#}
{#                                    {% for service in patientsdetail.services_passed %}#}
{#                                        <li class="nav-item">#}
{#                                            <a class="nav-link" data-toggle="tab" href="#tabItem{{ service.id }}"><em#}
{#                                                    class="icon ni ni-repeat"></em><span>{{ service.nom }}</span></a>#}
{#                                        </li>#}
{##}
{#                                    {% endfor %}#}
{#                                    <li class="nav-item nav-item-trigger d-xxl-none">#}
{#                                        <a href="#" class="toggle btn btn-icon btn-trigger" data-target="userAside"><em#}
{#                                                class="icon ni ni-user-list-fill"></em></a>#}
{#                                    </li>#}
{# </ul>#}


                                <!-- .nav-tabs -->
                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabPersonal">
                                            <em class="icon ni ni-user"></em><span>Personal Infos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="tab" href="#tabConsultations">
                                            <em class="icon ni ni-repeat"></em><span>Consultations</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabHospitalizations">
                                            <em class="icon ni ni-home"></em><span>Hospitalisations</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabAppointments">
                                            <em class="icon ni ni-calendar"></em><span>Rendez-vous</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabSuivis">
                                            <em class="icon ni ni-user-check"></em><span>Suivis</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <!-- Tab Peronal Info -->
                                    <div class="tab-pane fade show active" id="tabPersonal">

                                        <div class="nk-block">
                                            <div class="nk-block-head">
                                                <h5 class="title">Personal Information</h5>
                                                <p>Informations relative au patient.</p>
                                            </div><!-- .nk-block-head -->
                                            <div class="profile-ud-list">
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Sexe</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.genre }}.</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Nom & Prenom </span>
                                                        <span class="profile-ud-value">{{ patientsdetail|upper }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Date de naissance</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.date_naissance }}</span>

                                                    </div>
                                                </div>

                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Lieu de naissance</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.lieu_naissance }}</span>
                                                    </div>
                                                </div>

                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">âge</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.calculate_age }} ans</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Code patient</span>
                                                        <span class="profile-ud-value"> <i
                                                                class="fa-solid fa-lock"></i> {{ patientsdetail.code_patient }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Contact</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.contact }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Email</span>
                                                        <span class="profile-ud-value">info@afriqconsulting.com</span>
                                                    </div>
                                                </div>
                                            </div><!-- .profile-ud-list -->
                                        </div><!-- .nk-block -->
                                        <div class="nk-block">
                                            <div class="nk-block-head nk-block-head-line">
                                                <h6 class="title overline-title text-base">Information
                                                    Supplémentaire</h6>
                                            </div><!-- .nk-block-head -->
                                            <div class="profile-ud-list">
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Group Sanguin </span>
                                                        <span class="profile-ud-value"><i
                                                                class="fa-solid fa-droplet text-danger"></i> {{ patientsdetail.groupe_sanguin }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Nationalite </span>
                                                        <span class="profile-ud-value">{{ patientsdetail.nationalite }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Profession</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.profession }}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Employeur</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.employeur }}</span>
                                                    </div>
                                                </div>

                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Nombre d'enfants</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.nbr_enfants }} <i
                                                                class="fa-solid fa-children text-black-50"></i></span>
                                                    </div>
                                                </div>

                                                <div class="profile-ud-item">
                                                    <div class="profile-ud wider">
                                                        <span class="profile-ud-label">Situation matrimoniale</span>
                                                        <span class="profile-ud-value">{{ patientsdetail.situation_matrimoniale }}</span>
                                                    </div>
                                                </div>
                                            </div><!-- .profile-ud-list -->
                                        </div>
                                        <!-- .nk-block -->
                                        <div class="nk-divider divider md"></div>
                                        <div class="nk-block">
                                            <div class="nk-block-head nk-block-head-sm nk-block-between">
                                                <h5 class="title">Adresse</h5>
                                            </div><!-- .nk-block-head -->
                                            <div class="bq-note">
                                                <div class="bq-note-item">
                                                    <div class=" profile-ud-list">

                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Pays</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.localite.contry }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Ville</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.localite.ville }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Commune</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.localite.commune }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="profile-ud-item">
                                                            <div class="profile-ud wider">
                                                                <span class="profile-ud-label">Quartier</span>
                                                                <span class="profile-ud-value">{{ patientsdetail.localite.quartier }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- .bq-note-item -->
                                                <div class="bq-note-item">
                                                    <div class="bq-note-text">
                                                        <p>Aproin at metus et dolor tincidunt feugiat eu id quam.
                                                            Pellentesque habitant morbi tristique senectus et netus et
                                                            malesuada fames ac turpis egestas. Aenean sollicitudin non
                                                            nunc vel pharetra. </p>
                                                    </div>
                                                    <div class="bq-note-meta">
                                                        <span class="bq-note-added">Added on <span class="date">November 18, 2019</span> at <span
                                                                class="time">5:34 PM</span></span>
                                                        <span class="bq-note-sep sep">|</span>
                                                        <span class="bq-note-by">By <span>Softnio</span></span>
                                                        <a href="#" class="link link-sm link-danger">Delete Note</a>
                                                    </div>
                                                </div><!-- .bq-note-item -->
                                            </div><!-- .bq-note -->
                                        </div><!-- .nk-block -->
                                    </div>

                                    <!-- Tab Consultations -->
                                    <div class="tab-pane fade" id="tabConsultations">

                                        <div id="accordion" class="accordion">
                                            {% for consultation in consultations %}
                                                <div class="accordion-item">
                                                    <a href="#"
                                                       class="accordion-head bg-azure-dim {% if not forloop.first %}collapsed{% endif %}"
                                                       data-toggle="collapse"
                                                       data-target="#accordion-item-{{ consultation.id }}">
                                                        <h6 data-toggle="tooltip" data-placement="left"
                                                            title="{{ consultation.consultation_date|naturaltime }}"
                                                            class="title">
                                                            Consultation du {{ consultation.consultation_date }}
                                                            | {{ consultation.reason|truncatewords:25 }}
                                                        </h6>
                                                        <span class="accordion-icon"></span>
                                                    </a>
                                                    <div class="accordion-body collapse {% if forloop.first %}show{% endif %}"
                                                         id="accordion-item-{{ consultation.id }}"
                                                         data-parent="#accordion">
                                                        <div class="accordion-inner">
                                                            <h5>Détails de la Consultation {{ consultation.num }}</h5>

                                                            <p><strong>Date
                                                                :</strong> {{ consultation.consultation_date|date:"d/m/Y H:i" }}
                                                            </p>
                                                            <p><strong>Raison
                                                                :</strong> {{ consultation.reason|default:"Non spécifiée" }}
                                                            </p>

                                                            <p><strong>Constante :</strong>
                                                                {% if consultation.constante %}
                                                                    {{ consultation.constante }}
                                                                {% else %}
                                                                    Aucune constante enregistrée.
                                                                {% endif %}
                                                            </p>

                                                            <p><strong>Examens :</strong>
                                                                {% if consultation.examens %}
                                                                    {{ consultation.examens }}
                                                                {% else %}
                                                                    Aucun examen associé.
                                                                {% endif %}
                                                            </p>

                                                            <p><strong>Symptômes :</strong></p>
                                                            <ul>
                                                                {% for symptome in consultation.symptomes.all %}
                                                                    <li>{{ symptome.nom }}</li>
                                                                {% empty %}
                                                                    <li>Aucun symptôme enregistré.</li>
                                                                {% endfor %}
                                                            </ul>

                                                            <p><strong>Antécédents Médicaux :</strong></p>
                                                            <ul>
                                                                {% for antecedent in consultation.antecedentsMedicaux.all %}
                                                                    <li>{{ antecedent.nom }}</li>
                                                                {% empty %}
                                                                    <li>Aucun antécédent médical.</li>
                                                                {% endfor %}
                                                            </ul>

                                                            <p><strong>Allergies :</strong></p>
                                                            <ul>
                                                                {% for allergie in consultation.allergies.all %}
                                                                    <li>{{ allergie.titre }}</li>
                                                                {% empty %}
                                                                    <li>Aucune allergie enregistrée.</li>
                                                                {% endfor %}
                                                            </ul>

                                                            <p><strong>Diagnostic :</strong></p>
                                                            <div>
                                                                {{ consultation.diagnosis|safe }}
                                                            </div>

                                                            <p><strong>Commentaires :</strong></p>
                                                            <div>
                                                                {{ consultation.commentaires|safe }}
                                                            </div>

                                                            <p><strong>Médecin :</strong>
                                                                {% if consultation.doctor %}
                                                                    {{ consultation.doctor.username }}
                                                                {% else %}
                                                                    Non attribué.
                                                                {% endif %}
                                                            </p>

                                                            <p><strong>Status
                                                                :</strong> {{ consultation.get_status_display|default:"Non défini" }}
                                                            </p>

                                                            <p><strong>Service de Suivi :</strong>
                                                                {% if consultation.suivi %}
                                                                    {{ consultation.suivi.nom }}
                                                                {% else %}
                                                                    Aucun service de suivi.
                                                                {% endif %}
                                                            </p>

                                                            <p><strong>Créé par :</strong>
                                                                {% if consultation.created_by %}
                                                                    {{ consultation.created_by.username }}
                                                                {% else %}
                                                                    Créateur inconnu.
                                                                {% endif %}
                                                            </p>

                                                            <p><strong>Créé le
                                                                :</strong> {{ consultation.created_at|date:"d/m/Y H:i" }}
                                                            </p>
                                                            <p><strong>Mis à jour le
                                                                :</strong> {{ consultation.updated_at|date:"d/m/Y H:i" }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <p>Aucune consultation disponible pour ce patient.</p>
                                            {% endfor %}
                                        </div>


                                    </div>

                                    <!-- Tab Hospitalisations -->
                                    <div class="tab-pane fade" id="tabHospitalizations">
                                        <div id="accordion-hospitalization" class="accordion">
                                            {% for hospitalization in hospitalizations %}
                                                <div class="accordion-item">
                                                    <a href="#" class="bg-danger-dim accordion-head {% if not forloop.first %}collapsed{% endif %}" data-toggle="collapse" data-target="#accordion-item-hosp-{{ hospitalization.id }}">
                                                        <h6 class="title">
                                                            Hospitalisation
                                                            du {{ hospitalization.admission_date|date:"d/m/Y" }}
                                                            | Chambre
                                                            : {{ hospitalization.bed }}-{{ hospitalization.bed.box }}
                                                            | {% if hospitalization.discharge_date %}
                                                            <span class="badge badge-outline-primary"> Sortie le :
                                                            {{ hospitalization.discharge_date|date:"d/m/Y" }} | Motif :
                                                            {{ hospitalization.discharge_reason }} {% endif %}</span>
                                                        </h6>
                                                        <span class="accordion-icon"></span>
                                                    </a>
                                                    <div class="accordion-body collapse {% if forloop.first %}show{% endif %}"
                                                         id="accordion-item-hosp-{{ hospitalization.id }}"
                                                         data-parent="#accordion-hospitalization">
                                                        <div class="accordion-inner">
                                                            <!-- Détails de l'Hospitalisation -->
                                    <h6>Détails de l'Hospitalisation</h6>
                                    <p><strong>Chambre :</strong> {{ hospitalization.bed }}</p>
                                    <p><strong>Médecin Responsable :</strong> {{ hospitalization.doctor.username|default:"Non attribué" }}</p>
                                    <p><strong>Motif d'Admission :</strong> {{ hospitalization.reason_for_admission }}</p>
                                    <p><strong>Statut :</strong> {{ hospitalization.get_status_display|default:"Non défini" }}</p>

                                    <!-- Indicateurs -->
                                    <h6 class="mt-4">Indicateurs</h6>
                                    <p><strong>Biologiques :</strong></p>
                                    <ul>
                                        {% for indicator in hospitalization.indicateurs_biologiques.all %}
                                            <li>Globules Blancs : {{ indicator.globules_blancs }} | CRP : {{ indicator.crp }}</li>
                                        {% empty %}
                                            <li>Aucun indicateur biologique enregistré.</li>
                                        {% endfor %}
                                    </ul>

                                    <p><strong>Fonctionnels :</strong></p>
                                    <ul>
                                        {% for indicator in hospitalization.indicateurs_fonctionnels.all %}
                                            <li>Mobilité : {{ indicator.mobilite }} | Conscience : {{ indicator.conscience }}</li>
                                        {% empty %}
                                            <li>Aucun indicateur fonctionnel enregistré.</li>
                                        {% endfor %}
                                    </ul>

                                    <p><strong>Subjectifs :</strong></p>
                                    <ul>
                                        {% for indicator in hospitalization.indicateurs_subjectifs.all %}
                                            <li>Bien-Être : {{ indicator.bien_etre }}</li>
                                        {% empty %}
                                            <li>Aucun indicateur subjectif enregistré.</li>
                                        {% endfor %}
                                    </ul>

                                    <!-- Médicaments Prescrits -->
                                    <h6 class="mt-4">Médicaments Prescrits</h6>
                                    <ul>
                                        {% for prescription in hospitalization.hospiprescriptions.all %}
                                            <li>
                                                <strong>{{ prescription.medication.nom }}</strong> - {{ prescription.quantity }} unité(s)
                                                ({{ prescription.posology }})
                                            </li>
                                        {% empty %}
                                            <li>Aucune prescription pour cette hospitalisation.</li>
                                        {% endfor %}
                                    </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <p>Aucune hospitalisation disponible pour ce patient.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Tab Rendez-vous -->
                                    <div class="tab-pane fade" id="tabAppointments">
                                        <h5>Rendez-vous</h5>
                                        <ul>
                                            {% for appointment in appointments %}
                                                <li>
                                                    {{ appointment.date }} à {{ appointment.time }} -
                                                    {{ appointment.reason }} ({{ appointment.status }})
                                                </li>
                                            {% empty %}
                                                <p>Aucun rendez-vous disponible.</p>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <!-- Tab Suivis -->
                                    <div class="tab-pane fade" id="tabSuivis">
                                        <h5>Suivis</h5>
                                        <ul>
                                            {% for suivi in suivis %}
                                                <li>
                                                    Activité : {{ suivi.activite.nom }} -
                                                    Service : {{ suivi.services.nom }}
                                                </li>
                                            {% empty %}
                                                <p>Aucun suivi disponible.</p>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>



{#   {% for service, consultations in services_with_consultations %}#}
{#    <div class="tab-pane" id="tabItem{{ service.id }}">#}
{#        {% if consultations %}#}
{#            {% for consultation in consultations %}#}
{#                <div>#}
{#                    <h5>Consultation {{ consultation.id }}</h5>#}
{#                    <div>#}
{#                        <strong>Constante:</strong> {{ consultation.constante }}<br>#}
{#                        <strong>Examens:</strong> {{ consultation.examens }}<br>#}
{#                        <strong>Symptômes:</strong>#}
{#                        <ul>#}
{#                            {% for symptome in consultation.symptomes.all %}#}
{#                                <li>{{ symptome.nom }}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        <strong>Antécédents Médicaux:</strong>#}
{#                        <ul>#}
{#                            {% for antecedent in consultation.antecedentsMedicaux.all %}#}
{#                                <li>{{ antecedent.nom }}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        <strong>Allergies:</strong>#}
{#                        <ul>#}
{#                            {% for allergie in consultation.allergies.all %}#}
{#                                <li>{{ allergie.titre }}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                        <strong>Docteur:</strong> {{ consultation.doctor }}<br>#}
{#                        <strong>Date de Consultation:</strong> {{ consultation.consultation_date }}<br>#}
{#                        <strong>Raison:</strong> {{ consultation.reason }}<br>#}
{#                        <strong>Diagnostic:</strong> {{ consultation.diagnosis }}<br>#}
{#                        <strong>Commentaires:</strong> {{ consultation.commentaires }}<br>#}
{#                        <strong>Statut:</strong> {{ consultation.status }}<br>#}
{#                        <strong>Hospitalisé:</strong> {{ consultation.hospitalised }}<br>#}
{#                        <strong>Créé par:</strong> {{ consultation.created_by }}<br>#}
{#                        <strong>Créé le:</strong> {{ consultation.created_at }}<br>#}
{#                        <strong>Mis à jour le:</strong> {{ consultation.updated_at }}<br>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <p>Aucune consultation pour ce service.</p>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endfor %}#}


{#                                    {% for service, consultations in services_with_consultations %}#}
{#                                        <div class="tab-pane" id="tabItem{{ service.id }}">#}
{#                                            <h4>{{ service.nom }}</h4>#}
{#                                            {% if consultations %}#}
{#                                                {% for consultation in consultations %}#}
{#                                                    <div>#}
{#                                                        <h5>Consultation {{ consultation.id }}</h5>#}
{#                                                        <p>Constante: {{ consultation.constante }}</p>#}
{#                                                        <p>Examens: {{ consultation.examens }}</p>#}
{#                                                        <p>Symptômes:</p>#}
{#                                                        <ul>#}
{#                                                            {% for symptome in consultation.symptomes.all %}#}
{#                                                                <li>{{ symptome.nom }}</li>#}
{#                                                            {% endfor %}#}
{#                                                        </ul>#}
{#                                                        <p>Antécédents Médicaux:</p>#}
{#                                                        <ul>#}
{#                                                            {% for antecedent in consultation.antecedentsMedicaux.all %}#}
{#                                                                <li>{{ antecedent.nom }}</li>#}
{#                                                            {% endfor %}#}
{#                                                        </ul>#}
{#                                                        <p>Allergies:</p>#}
{#                                                        <ul>#}
{#                                                            {% for allergie in consultation.allergies.all %}#}
{#                                                                <li>{{ allergie.titre }}</li>#}
{#                                                            {% endfor %}#}
{#                                                        </ul>#}
{#                                                    </div>#}
{#                                                {% endfor %}#}
{#                                            {% else %}#}
{#                                                <p>Aucune consultation pour ce service.</p>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    {% endfor %}#}
                                
                                </div>
                            </div>
                            <!-- .card-aside-wrap -->
                        </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>

{% endblock %}