{% extends 'layout/base.html' %}
{% load static %}


{% block content %}

     <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">SMIT Dashboard</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>Welcome to KENEYA Dashboard.</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                                    <li><a href="#" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-reports"></em><span>Reports</span></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                             <!-- Monthly Trends -->
            <div class="nk-block">
                <h4 class="nk-block-title">Tendances Mensuelles</h4>
                <div class="row g-gs">
                    <div class="col-lg-8">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <canvas id="monthlyTrendsChart"></canvas>
                                <div class="sub-text">Consultations et Rendez-vous par Mois</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">

                        <div class="card card-bordered ">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-secondary-dim">
                                    <div class="amount "><h3>{{ total_patients }}</h3></div>
                                    <div class="sub-text">Total des Patients</div>
                                </li>
                                <li class="list-group-item bg-primary-dim">
                                    <div class="amount"><h3>{{ total_patients_homme }}</h3></div>
                                    <div class="sub-text">Total des Hommes</div>
                                </li>
                                <li class="list-group-item bg-danger-dim">
                                    <div class="amount"><h3>{{ total_patients_femme }}</h3></div>
                                    <div class="sub-text">Total des Femmes</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                             <!-- Patient Statistics -->
            <div class="nk-block">
                <h4 class="nk-block-title">Statistiques des Patients</h4>
                <div class="row g-gs">
                    <div class="col-lg-3">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="amount">{{ average_age|floatformat:0|default:"-" }} ans </div>
                                <div class="sub-text">Âge Moyen</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <canvas id="patientStatusChart"></canvas>
                                <div class="sub-text">Répartition par Statut</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Service Utilization -->
            <div class="nk-block">
                <h4 class="nk-block-title">Utilisation des Services</h4>
                <div class="row g-gs">
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <canvas id="consultationsByServiceChart"></canvas>
                                <div class="sub-text">Consultations par Service</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <h6 class="title">Top Services Utilisés</h6>
                                <ul>
                                    {% for service in top_services %}
                                        <li>{{ service.nom }} - {{ service.total_use }} utilisations</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <!-- Appointments Summary -->
            <div class="nk-block">
                <h4 class="nk-block-title">Résumé des Rendez-vous</h4>
                <div class="row g-gs">
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="amount">{{ total_scheduled_appointments }}</div>
                                <div class="sub-text">Rendez-vous Planifiés</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <canvas id="appointmentStatusChart"></canvas>
                                <div class="sub-text">État des Rendez-vous</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                             <!-- Hospitalizations Overview -->
            <div class="nk-block">
                <h4 class="nk-block-title">Aperçu des Hospitalisations</h4>
                <div class="row g-gs">
                    <div class="col-lg-4">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="amount">{{ current_hospitalizations }}</div>
                                <div class="sub-text">Patients Hospitalisés Actuellement</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <canvas id="hospitalizationReasonChart"></canvas>
                                <div class="sub-text">Raisons des Hospitalisations</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                        </div>
                    </div>
                </div>
                <!-- content @e -->







    <script>
        new Chart(document.getElementById('consultationsByServiceChart'), {
            type: 'bar',
            data: {
                labels: [{% for service in consultation_by_service %}'{{ service.services__nom }}',{% endfor %}],
                datasets: [{
                    label: 'Nombre de Consultations',
                    data: [{% for service in consultation_by_service %}{{ service.count }}, {% endfor %}],
                    backgroundColor: '#36b9cc'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById('hospitalizationReasonChart'), {
            type: 'bar',
            data: {
                labels: [{% for reason in hospitalizations_by_reason %}'{{ reason.reason_for_admission }}',{% endfor %}],
                datasets: [{
                    label: 'Raisons d\'Admission',
                    data: [{% for reason in hospitalizations_by_reason %}{{ reason.count }}, {% endfor %}],
                    backgroundColor: '#f6c23e'
                    }]
        },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById('appointmentStatusChart'), {
            type: 'doughnut',
            data: {
                labels: [{% for status in appointment_status_counts %}'{{ status.status }}',{% endfor %}],
                datasets: [{
                    data: [{% for status in appointment_status_counts %}{{ status.count }}, {% endfor %}],
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    }
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById('patientStatusChart'), {
            type: 'pie',
            data: {
                labels: [{% for status in patient_status_counts %}'{{ status.status }}',{% endfor %}],
                datasets: [{
                    data: [{% for status in patient_status_counts %}{{ status.count }}, {% endfor %}],
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    }
                }
            }
        });
    </script>

    <script>
        new Chart(document.getElementById('monthlyTrendsChart'), {
            type: 'line',
            data: {
                labels: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'],
                datasets: [
                    {
                        label: 'Consultations',
                        data: {{ consultation_counts|safe }},
                        borderColor: '#4e73df',
                        fill: false
                    },
                    {
                        label: 'Rendez-vous',
                        data: {{ appointment_counts|safe }},
                        borderColor: '#1cc88a',
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

{% endblock %}
