{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block content %}
    <style>
    .uniform-btn {
    width: 100%;
    min-width: 100px; /* Définit une largeur minimale pour tous les boutons */
    text-align: left; /* Centre le texte dans les boutons */
    padding: 5px 5px; /* Uniformise le padding des boutons */
    font-size: 16px; /* Assure une taille de texte uniforme */
}
    </style>
    <div class="nk-content nk-content-fluid">

        <div class="container-xl wide-lg">

            <div class="nk-content-body">

                <div class="nk-block-head nk-block-head-sm ">


                <div class="nk-block">
               <div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Profil de {{ employee.user.first_name }} {{ employee.user.last_name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Photo de profil -->
                <div class="col-md-3 text-center">
                    <img src="{{ employee.photo.url }}" alt="Photo de Profil" class="img-fluid rounded-circle" width="150">
                </div>

                <!-- Infos employé -->
                <div class="col-md-9">
                    <table class="table">
                        <tr>
                            <th>Email :</th>
                            <td>{{ employee.user.email }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone :</th>
                            <td>{{ employee.phone }}</td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td>{{ employee.get_gender_display }}</td>
                        </tr>
                        <tr>
                            <th>Nationalité :</th>
                            <td>{{ employee.nationalite }}</td>
                        </tr>
                        <tr>
                            <th>Département :</th>
                            <td>{{ employee.departement }}</td>
                        </tr>

                        <tr>
                            <th>Date de naissance :</th>
                            <td>{{ employee.birthdate|date:"d M Y" }}</td>
                        </tr>
                        <tr>
                            <th>Situation Matrimoniale :</th>
                            <td>{{ employee.get_situation_matrimoniale_display }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'employee_profile' %}" class="btn btn-outline-secondary mr-5">Modifier Profil</a>
            <a href="{% url 'account_change_password' %}" class="btn btn-outline-primary ml-5">Modifier mon mot de passe</a>
        </div>
    </div>
</div>
                    </div><!-- .card -->
                </div>
            </div>
    </div>
    <script>
        $(document).ready(function () {
            // Initialisation de Select2 avec l'option tags
            $('.select2').select2({
                tags: true,
                tokenSeparators: [',', ' '],
                placeholder: "Choisissez ou ajoutez une maladie",
                allowClear: true,
                ajax: {
                    url: "{% url 'add_maladie' %}",
                    type: "POST",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return {
                            nom: params.term, // Le terme recherché ou ajouté
                            csrfmiddlewaretoken: '{{ csrf_token }}' // Token CSRF pour sécuriser la requête
                        };
                    },
                    processResults: function (data) {
                        if (data.success) {
                            return {
                                results: [
                                    {id: data.id, text: data.nom}
                                ]
                            };
                        } else {
                            alert(data.message);
                            return {results: []};
                        }
                    },
                },
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Reinitialiser TinyMCE quand le modal est affiché
            $('#adddiagnosticModal').on('shown.bs.modal', function () {
                tinymce.remove(); // Supprimer les anciennes instances (si rechargé)
                tinymce.init({
                    selector: '.tinymce-basic',
                    plugins: 'advlist autolink lists link charmap print preview anchor',
                    toolbar: 'bold italic underline | alignleft aligncenter alignright | bullist numlist outdent indent',
                    menubar: false,
                    height: 300,
                });
            });
        });
    </script>

    <script>
        // Données JSON pour les indicateurs et leurs plages
        const chartData = JSON.parse('{{ lab_ink|escapejs }}');

        // Extraire les valeurs pour la configuration des séries de données
        const categories = chartData.indicators.map(indicator => indicator.name);
        const seriesData = [
            {
                name: "Plage Normale",
                data: chartData.indicators.map(indicator => indicator.normal_part)
            },
            {
                name: "Valeur dans la Plage Normale",
                data: chartData.indicators.map(indicator => indicator.within_range)
            },
            {
                name: "Valeur Excédentaire/Déficitaire",
                data: chartData.indicators.map(indicator => indicator.additional_part)
            }
        ];

        // Configuration du graphique ApexCharts
        const options = {
            chart: {
                type: 'bar',
                height: 700,
                stacked: true,
            },
            series: seriesData,
            colors: ['#00E396', '#4CAF50', '#FF4560'], // Vert pour la plage normale, vert foncé pour la valeur dans la plage, rouge pour valeur hors norme
            plotOptions: {
                bar: {
                    horizontal: true,
                    barHeight: '80%',
                    dataLabels: {
                        position: 'top'
                    },
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val, opts) {
                    const indicator = chartData.indicators[opts.dataPointIndex];
                    if (opts.seriesIndex === 2) {
                        return indicator.additional_part ? `Excès: ${indicator.additional_part}` : '';
                    } else if (opts.seriesIndex === 1) {
                        return indicator.actual !== null ? `Actuel: ${indicator.actual}` : 'N/A';
                    }
                    return '';
                },
                offsetX: -6,
                style: {
                    fontSize: '12px',
                    colors: ['#304758']
                }
            },
            xaxis: {
                categories: categories,
                title: {
                    text: 'Valeurs'
                }
            },
            title: {
                text: 'Indicateurs de Complications et Seuils de Danger',
                align: 'center'
            },
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function (val, opts) {
                        const indicator = chartData.indicators[opts.dataPointIndex];
                        if (opts.seriesIndex === 2) {
                            return `Excédent ou déficit: ${indicator.additional_part}`;
                        }
                        return `Actuel: ${indicator.actual}`;
                    }
                }
            },
            legend: {
                position: 'top',
                horizontalAlign: 'left'
            }
        };

        // Rendu du graphique
        const chart = new ApexCharts(document.querySelector("#indicators-chart"), options);
        chart.render();
    </script>
    <script>
        // Données JSON pour le graphique des indicateurs fonctionnels
        const functionalData = JSON.parse('{{ functional_chart_data|escapejs }}');

        // Transformation des données qualitatives en valeurs numériques pour le graphique
        const mobilityValues = functionalData.mobilite.map(mobility => {
            if (mobility === "indépendant") return 3;
            if (mobility === "assisté") return 2;
            if (mobility === "immobile") return 1;
            return null;
        });

        const consciousnessValues = functionalData.conscience.map(consciousness => {
            if (consciousness === "alerte") return 3;
            if (consciousness === "somnolent") return 2;
            if (consciousness === "inconscient") return 1;
            return null;
        });

        // Configuration du graphique ApexCharts
        const functionalOptions = {
            chart: {
                type: 'bar',
                height: 450
            },
            series: [
                {
                    name: 'Mobilité',
                    data: mobilityValues
                },
                {
                    name: 'Conscience',
                    data: consciousnessValues
                },
                {
                    name: 'Débit Urinaire (L)',
                    data: functionalData.debit_urinaire
                }
            ],
            xaxis: {
                categories: functionalData.dates,
                title: {
                    text: 'Dates'
                },
                labels: {
                    rotate: -45
                }
            },
            yaxis: [
                {
                    title: {
                        text: 'Niveau Mobilité et Conscience'
                    },
                    min: 0,
                    max: 3,
                    tickAmount: 3,
                    labels: {
                        formatter: function (value) {
                            if (value === 3) return 'Indépendant / Alerte';
                            if (value === 2) return 'Assisté / Somnolent';
                            if (value === 1) return 'Immobile / Inconscient';
                            return '';
                        }
                    }
                },
                {
                    opposite: true,
                    title: {
                        text: 'Débit Urinaire (L)'
                    },
                    min: 0
                }
            ],
            tooltip: {
                shared: true,
                intersect: false,
            },
            title: {
                text: 'Évolution des Indicateurs Fonctionnels',
                align: 'center'
            }
        };

        // Rendu du graphique
        const functionalChart = new ApexCharts(document.querySelector("#functional-chart"), functionalOptions);
        functionalChart.render();
    </script>
    <script>
        // Données JSON pour les indicateurs de complications
        const complicationsData = JSON.parse('{{ complications_chart_data|escapejs }}');

        // Transformation de l'état mental en valeurs numériques
        const mentalStateValues = complicationsData.mental_state.map(state => {
            if (state === "clair") return 3;
            if (state === "confusion") return 2;
            if (state === "somnolent") return 1;
            return null;
        });

        // Configuration du graphique ApexCharts
        const complicationsOptions = {
            chart: {
                type: 'line',
                height: 450
            },
            series: [
                {
                    name: 'Niveau de Douleur',
                    data: complicationsData.pain_level
                },
                {
                    name: 'État Mental',
                    data: mentalStateValues
                }
            ],
            xaxis: {
                categories: complicationsData.dates,
                title: {
                    text: 'Dates'
                },
                labels: {
                    rotate: -45
                }
            },
            yaxis: [
                {
                    title: {
                        text: 'Niveau de Douleur'
                    },
                    min: 0,
                    max: 10,
                    tickAmount: 10
                },
                {
                    opposite: true,
                    title: {
                        text: 'État Mental'
                    },
                    min: 0,
                    max: 3,
                    tickAmount: 3,
                    labels: {
                        formatter: function (value) {
                            if (value === 3) return 'Clair';
                            if (value === 2) return 'Confusion';
                            if (value === 1) return 'Somnolent';
                            return '';
                        }
                    }
                }
            ],
            tooltip: {
                shared: true,
                intersect: false,
            },
            title: {
                text: 'Évolution des Indicateurs de Complications',
                align: 'center'
            }
        };

        // Rendu du graphique
        const complicationsChart = new ApexCharts(document.querySelector("#complications-chart"), complicationsOptions);
        complicationsChart.render();
    </script>
    <script>
        // Données JSON pour les graphiques en camembert
        const pieChartData = JSON.parse('{{ pie_chart_data|escapejs }}');

        // Fonction de configuration et de rendu d'un graphique en camembert
        function renderPieChart(elementId, seriesData, labels, title) {
            const options = {
                chart: {
                    type: 'donut',
                    height: 350
                },
                series: seriesData,
                labels: labels,
                title: {
                    text: title,
                    align: 'center'
                }
            };

            const chart = new ApexCharts(document.querySelector(elementId), options);
            chart.render();
        }

        // Données et rendu du graphique pour l'état mental
        const mentalStateLabels = Object.keys(pieChartData.mental_state);
        const mentalStateSeries = Object.values(pieChartData.mental_state);
        renderPieChart("#mental-state-chart", mentalStateSeries, mentalStateLabels, "État Mental");

        // Données et rendu du graphique pour l'équilibre électrolytique
        const electrolytesBalanceLabels = Object.keys(pieChartData.electrolytes_balance);
        const electrolytesBalanceSeries = Object.values(pieChartData.electrolytes_balance);
        renderPieChart("#electrolytes-balance-chart", electrolytesBalanceSeries, electrolytesBalanceLabels, "Équilibre Électrolytique");

        // Données et rendu du graphique pour la fonction rénale
        const renalFunctionLabels = Object.keys(pieChartData.renal_function);
        const renalFunctionSeries = Object.values(pieChartData.renal_function);
        renderPieChart("#renal-function-chart", renalFunctionSeries, renalFunctionLabels, "Fonction Rénale");

        // Données et rendu du graphique pour la fonction hépatique
        const hepaticFunctionLabels = Object.keys(pieChartData.hepatic_function);
        const hepaticFunctionSeries = Object.values(pieChartData.hepatic_function);
        renderPieChart("#hepatic-function-chart", hepaticFunctionSeries, hepaticFunctionLabels, "Fonction Hépatique");
    </script>
    <script>
        // Données JSON pour le graphique des indicateurs biologiques
        const biologicalData = JSON.parse('{{ chart_data|escapejs }}');

        // Configuration du graphique des indicateurs biologiques
        const biologicalOptions = {
            chart: {
                type: 'area',
                height: 450
            },
            series: [
                {
                    name: 'Globules blancs',
                    data: biologicalData.globules_blancs
                },
                {
                    name: 'Hémoglobine',
                    data: biologicalData.hemoglobine
                },
                {
                    name: 'Plaquettes',
                    data: biologicalData.plaquettes
                },
                {
                    name: 'CRP',
                    data: biologicalData.crp
                },
                {
                    name: 'Glucose sanguin',
                    data: biologicalData.glucose_sanguin
                }
            ],
            xaxis: {
                categories: biologicalData.dates,
                title: {
                    text: 'Dates'
                },
                labels: {
                    rotate: -45
                }
            },
            yaxis: {
                title: {
                    text: 'Valeurs'
                }
            },
            tooltip: {
                shared: true,
                intersect: false,
            },
            title: {
                text: 'Évolution des Indicateurs Biologiques',
                align: 'center'
            }
        };

        // Initialisation du graphique des indicateurs biologiques
        const biologicalChart = new ApexCharts(document.querySelector("#biological-chart"), biologicalOptions);
        biologicalChart.render();
    </script>
    <script>
        // Données JSON pour le graphique des constantes vitales
        const labels = [
            {% for constante in constantes %}
                "{{ constante.created_at|date:'Y-m-d H:i' }}",
            {% endfor %}
        ];

        const temperatureData = [
            {% for constante in constantes %}
                {{ constante.temperature|default:"null" }},
            {% endfor %}
        ];

        const heartRateData = [
            {% for constante in constantes %}
                {{ constante.frequence_cardiaque|default:"null" }},
            {% endfor %}
        ];

        const respiratoryRateData = [
            {% for constante in constantes %}
                {{ constante.frequence_respiratoire|default:"null" }},
            {% endfor %}
        ];

        const oxygenSaturationData = [
            {% for constante in constantes %}
                {{ constante.saturation_oxygene|default:"null" }},
            {% endfor %}
        ];

        // Configuration du graphique des constantes vitales
        const constantesOptions = {
            chart: {
                type: 'line',
                height: 350,
                zoom: {
                    enabled: true
                }
            },
            series: [
                {
                    name: 'Température (°C)',
                    data: temperatureData
                },
                {
                    name: 'Fréquence Cardiaque (bpm)',
                    data: heartRateData
                },
                {
                    name: 'Fréquence Respiratoire (rpm)',
                    data: respiratoryRateData
                },
                {
                    name: 'Saturation en Oxygène (%)',
                    data: oxygenSaturationData
                }
            ],
            xaxis: {
                categories: labels,
                title: {
                    text: 'Date et Heure'
                },
                type: 'datetime'
            },
            yaxis: {
                title: {
                    text: 'Valeurs des Constantes Vitales'
                },
                min: 0
            },
            title: {
                text: 'Évolution des Constantes Vitales du Patient',
                align: 'center'
            },
            tooltip: {
                x: {
                    format: 'dd MMM yyyy HH:mm'
                }
            }
        };

        // Initialisation du graphique des constantes vitales
        const constantesChart = new ApexCharts(document.querySelector("#constantesChart"), constantesOptions);
        constantesChart.render();
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let formIdx = {{ symptomes_forms|length }};
            document.getElementById('add-symptome').addEventListener('click', function () {
                const newForm = document.createElement('div');
                newForm.className = 'row';
                const formHtml = `<div class="col-lg-6 col-sm-12 mb-3">
<div class="form-group">
<label class="form-label" for="id_symptomes-${formIdx}-nom">Nom</label>
<input type="text" name="nom[]" maxlength="255" class="form-control form-control-lg" required id="id_symptomes-${formIdx}-nom">
</div>
                              </div>
                              <div class="col-lg-6 col-sm-12 mb-3">
                                <div class="form-group">
                                    <label class="form-label" for="id_symptomes-${formIdx}-date_debut">Date début</label>
                                    <input type="date" name="date_debut[]" class="form-control form-control-lg" required id="id_symptomes-${formIdx}-date_debut">
                                </div>
                              </div>`;
                newForm.innerHTML = formHtml;
                document.getElementById('symptomes-forms').appendChild(newForm);
                formIdx++;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dischargeCriteria = {{ discharge_criteria|safe }};

            const options = {
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        distributed: true,  // This makes each bar individually colorable
                        colors: {
                            ranges: [
                                {from: 1, to: 1, color: '#4CAF50'}, // Vert pour "Atteint"
                                {from: 0, to: 0, color: '#F44336'}  // Rouge pour "Non Atteint"
                            ]
                        }
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val === 1 ? "Atteint" : "Non Atteint";
                    },
                    style: {
                        colors: ['#000']
                    }
                },
                series: [{
                    name: 'Critère de décharge',
                    data: [
                        dischargeCriteria.stable_vitals || 0,
                        dischargeCriteria.pain_controlled || 0,
                        dischargeCriteria.functional_ability || 0,
                        dischargeCriteria.mental_stability || 0,
                        dischargeCriteria.follow_up_plan || 0
                    ]
                }],
                xaxis: {
                    categories: [
                        "Signes vitaux stables",
                        "Douleur contrôlée",
                        "Capacité fonctionnelle",
                        "État mental stable",
                        "Plan de suivi post-hospitalisation"
                    ]
                },
                tooltip: {
                    enabled: true,
                    y: {
                        formatter: function (val) {
                            return val === 1 ? "Atteint" : "Non Atteint";
                        }
                    }
                }
            };

            const chart = new ApexCharts(document.querySelector("#dischargeChart"), options);
            chart.render();
        });
    </script>

    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var booleanTypePairs = [
            { checkbox: 'prophylaxie_antiretrovirale', typeField: 'prophylaxie_type' },
            { checkbox: 'traitement_antiretrovirale', typeField: 'traitement_type' },
            { checkbox: 'dernier_regime_antiretrovirale', typeField: 'dernier_regime_antiretrovirale_type' },
            { checkbox: 'traitement_prophylactique_cotrimoxazole', typeField: 'traitement_prophylactique_cotrimoxazole_type' },
        ];

        function toggleTypeField(checkboxId, typeFieldId) {
            var checkbox = document.getElementById(checkboxId);
            var typeField = document.getElementById(typeFieldId);

            if (checkbox && typeField) {
                if (checkbox.checked) {
                    typeField.closest('.form-group').style.display = 'block';
                } else {
                    typeField.closest('.form-group').style.display = 'none';
                }
            }
        }

        booleanTypePairs.forEach(function(pair) {
            toggleTypeField(pair.checkbox, pair.typeField);

            document.getElementById(pair.checkbox).addEventListener('change', function() {
                toggleTypeField(pair.checkbox, pair.typeField);
            });
        });
    });
</script>
    </div>
{% endblock %}