{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">UNITES HOSPITALISATION</h3>
                                        <div class="nk-block-des text-soft">
                                            <p> Liste des unites  </p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                       {% include 'layout/toggleoption.html' %}
                                    </div><!-- .nk-block-head-content -->
                                </div>
                                <!-- .nk-block-between -->
                            </div>
                            <!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered card-stretch">
                                    <div class="card-inner-group">
                                        <div class="card-inner position-relative card-tools-toggle">
                                            <div class="card-title-group">
                                                <div class="card-tools">
                                                    <div class="form-inline flex-nowrap gx-3">
                                                        <div class="form-wrap w-150px">
                                                            <select class="form-select form-select-sm" data-search="off" data-placeholder="Bulk Action">
                                                                <option value="">Bulk Action</option>
                                                                <option value="email">Send Email</option>
                                                                <option value="group">Change Group</option>
                                                                <option value="suspend">Suspend User</option>
                                                                <option value="delete">Delete User</option>
                                                            </select>
                                                        </div>
                                                        <div class="btn-wrap">
                                                            <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light disabled">Apply</button></span>
                                                            <span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-icon disabled"><em class="icon ni ni-arrow-right"></em></button></span>
                                                        </div>
                                                    </div>
                                                    <!-- .form-inline -->
                                                </div><!-- .card-tools -->
                                                <div class="card-tools mr-n1">
                                                    <ul class="btn-toolbar gx-1">
                                                        <li>
                                                            <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                                        </li><!-- li -->
                                                        <li class="btn-toolbar-sep"></li><!-- li -->
                                                        <li>
                                                            <div class="toggle-wrap">
                                                                <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                                                <div class="toggle-content" data-content="cardTools">
                                                                    <ul class="btn-toolbar gx-1">
                                                                        <li class="toggle-close">
                                                                            <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a>
                                                                        </li>
                                                                        <!-- li -->
                                                                        <li>
                                                                            <div class="dropdown">
                                                                                <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-toggle="dropdown"><div class="dot dot-primary"></div>
                                                                                    <em class="icon ni ni-filter-alt"></em>
                                                                                </a>
                                                                                <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                                                                    <div class="dropdown-head">
                                                                                        <span class="sub-title dropdown-title">Filter Users</span>
                                                                                        <div class="dropdown">
                                                                                            <a href="#" class="btn btn-sm btn-icon">
                                                                                                <em class="icon ni ni-more-h"></em>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="dropdown-body dropdown-body-rg">
                                                                                        <div class="row gx-6 gy-3">
                                                                                            <div class="col-6">
                                                                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                                                                    <input type="checkbox" class="custom-control-input" id="hasBalance">
                                                                                                    <label class="custom-control-label" for="hasBalance"> Have Balance</label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                <div class="custom-control custom-control-sm custom-checkbox">
                                                                                                    <input type="checkbox" class="custom-control-input" id="hasKYC">
                                                                                                    <label class="custom-control-label" for="hasKYC"> KYC Verified</label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                <div class="form-group">
                                                                                                    <label class="overline-title overline-title-alt">Role</label>
                                                                                                    <select class="form-select form-select-sm">
                                                                                                        <option value="any">Any Role</option>
                                                                                                        <option value="investor">Investor</option>
                                                                                                        <option value="seller">Seller</option>
                                                                                                        <option value="buyer">Buyer</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                <div class="form-group">
                                                                                                    <label class="overline-title overline-title-alt">Status</label>
                                                                                                    <select class="form-select form-select-sm">
                                                                                                        <option value="any">Any Status</option>
                                                                                                        <option value="active">Active</option>
                                                                                                        <option value="pending">Pending</option>
                                                                                                        <option value="suspend">Suspend</option>
                                                                                                        <option value="deleted">Deleted</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <div class="form-group">
                                                                                                    <button type="button" class="btn btn-secondary">Filter</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="dropdown-foot between">
                                                                                        <a class="clickable" href="#">Reset Filter</a>
                                                                                        <a href="#">Save Filter</a>
                                                                                    </div>
                                                                                </div><!-- .filter-wg -->
                                                                            </div>
                                                                            <!-- .dropdown -->
                                                                        </li><!-- li -->
                                                                        <li>
                                                                            <div class="dropdown">
                                                                                <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-toggle="dropdown">
                                                                                    <em class="icon ni ni-setting"></em></a>
                                                                                <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                                                                                    <ul class="link-check">
                                                                                        <li><span>Show</span></li>
                                                                                        <li class="active"><a href="#">10</a></li>
                                                                                        <li><a href="#">20</a></li>
                                                                                        <li><a href="#">50</a></li>
                                                                                    </ul>
                                                                                    <ul class="link-check">
                                                                                        <li><span>Order</span></li>
                                                                                        <li class="active"><a href="#">DESC</a></li>
                                                                                        <li><a href="#">ASC</a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div><!-- .dropdown -->
                                                                        </li><!-- li -->
                                                                    </ul><!-- .btn-toolbar -->
                                                                </div><!-- .toggle-content -->
                                                            </div><!-- .toggle-wrap -->
                                                        </li><!-- li -->
                                                    </ul><!-- .btn-toolbar -->
                                                </div><!-- .card-tools -->
                                            </div><!-- .card-title-group -->
                                            <div class="card-search search-wrap" data-search="search">
                                                <div class="card-body">
                                                    <div class="search-content">
                                                        <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                        <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                                        <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                                    </div>
                                                </div>
                                            </div><!-- .card-search -->
                                        </div><!-- .card-inner -->
                                        <div class="card-inner p-0">

                                            <div id="accordion" class="accordion">
                                                {% for hospi in unites.all %}
                                                    <div class="accordion-item">
                                                        <a href="#" class="accordion-head bg-dark" data-toggle="collapse" data-target="#accordion-item-1-{{  hospi.id }}">
                                                            <h6 class="title text-white">{{  hospi.nom }}</h6>
                                                            <span class="accordion-icon"></span>
                                                        </a>
                                                        <div class="accordion-body collapse show" id="accordion-item-1-{{  hospi.id }}" data-parent="#accordion">
                                                            <div class="accordion-inner">

                                                                <div class="row p-10">
                                                                    {% for chambre in hospi.chambres.all %}
                                                                        <div class="col-lg-4 pl-5 pr-5 bg-dark-dim card-bordered ml-5">
                                                                            <div class="row flex-lg-column ">
                                                                                <div class="row flex-lg-column text-center ">{{ chambre.nom }}</div>
                                                                                {% for box in chambre.boxes.all %}
                                                                                    <div class="row mt-2 card-bordered border-white ">
                                                                                        <div class="card-inner border">
                                                                                            <h6>{{ box.nom }}</h6>

                                                                                            <div class="d-flex  flex-wrap example-border">
                                                                                                {% for lit in box.lits.all %}

                                                                                                    {% if lit.occuper is False and lit.reserved_until %}
                                                                                                        <!-- Reserved Bed (48-hour reservation) -->
                                                                                                        <div class="border border-primary"
                                                                                                             data-toggle="tooltip"
                                                                                                             data-placement="top"
                                                                                                             title="Réservé par {{ lit.reserved_by }}">
                                                                                                            <img src="{% static 'images/manifestation.gif' %}">
                                                                                                            
                                                                                                                <ul style="margin-top: -15px" class="nk-tb-actions position-absolute ml-2 ">
                                                                                                                    <li>
                                                                                                                        <div class="drodown">
                                                                                                                            <a href="#"
                                                                                                                               class="btn btn-sm btn-icon btn-trigger dropdown-toggle"
                                                                                                                               data-toggle="dropdown">
                                                                                                                                <em class="icon ni ni-more-h"></em>
                                                                                                                            </a>
                                                                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                                                                <ul class="link-list-opt no-bdr">
                                                                                                                                    <li>
                                                                                                                                        <a href="{% url 'release_bed' lit.id %}">
                                                                                                                                            <em class="icon ni ni-unlock"></em><span>Libérer</span>
                                                                                                                                        </a>
                                                                                                                                    </li>

                                                                                                                                      <li>
                                                                                                                                        <a href="{% url 'hospitalisation_lit_reserved' lit_id=lit.id  %}">
                                                                                                                                            <em class="icon ni ni-user"></em><span>Affecter Patient</span>
                                                                                                                                        </a>
                                                                                                                                    </li>
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </li>
                                                                                                                </ul>
                                                                                                            
                                                                                                        </div>

                                                                                                    {% elif lit.occuper is False and lit.is_out_of_service is False and lit.is_cleaning is False %}
                                                                                                        <!-- Free Bed -->
                                                                                                        <div class="border border-primary" data-toggle="tooltip" data-placement="top" title="Libre">
                                                                                                            <img src="{% static 'images/hospital-bed.gif' %}">
                                                                                                                <ul style="margin-top: -15px " class="nk-tb-actions position-absolute ml-2">
                                                                                                                    <li>
                                                                                                                        <div class="drodown">
                                                                                                                            <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                                                                <ul class="link-list-opt no-bdr">
                                                                                                                                    <li>
                                                                                                                                        <a href="{% url 'reserve_bed' lit.id %}">
                                                                                                                                            <em class="icon ni ni-eye"></em><span>Réserver</span>
                                                                                                                                        </a>
                                                                                                                                    </li>
                                                                                                                                       <li>
                                                                                                                                        <a href="{% url 'mark_as_cleaning' lit.id %}">
                                                                                                                                            <em class="icon ni ni-swap-alt"></em><span>Mode nettoyage</span>
                                                                                                                                        </a>
                                                                                                                                    </li>

                                                                                                                                    <li class="divider"></li>

                                                                                                                                    <li>
                                                                                                                                        <a href="{% url 'mark_as_out_of_service' lit.id %}">
                                                                                                                                            <em class="icon ni ni-lock-alt"></em><span>Mettre hors d'usage</span>
                                                                                                                                        </a>
                                                                                                                                    </li>
                                                                                                                                    <li>
                                                                                                                                        <a href="{% url 'delete_bed' lit.id %}">
                                                                                                                                            <em class="icon ni ni-delete-fill"></em><span>Supprimer</span>
                                                                                                                                        </a>
                                                                                                                                    </li>
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </li>
                                                                                                                </ul>

                                                                                                        </div>

                                                                                                    {% elif lit.occuper %}
                                                                                                        <!-- Occupied Bed -->
                                                                                                        <div class="border border-primary" data-toggle="tooltip" data-placement="top" title="Occupé par {{ lit.occupant }}">

                                                                                                        <a href="{% url 'litdetails' lit.pk %}"> <img src="{% static 'images/hospitalization.gif' %}"></a>
                                                                                                      
                                                                                                        </div>

                                                                                                    {% elif lit.is_out_of_service %}
                                                                                                        <div class="border border-primary" data-toggle="tooltip" data-placement="top" title="Indisponible">
                                                                                                            <img src="{% static 'images/panneau-dinterdiction.gif' %}">
                                                                                                        </div>

                                                                                                    {% elif lit.is_cleaning %}
                                                                                                        <div class="border border-primary" data-toggle="tooltip" data-placement="top" title="Nettoyage en cours ">
                                                                                                            <img src="{% static 'images/brosse-de-nettoyage.gif' %}">
                                                                                                            <p class="" >libre dans
                                                                                                                <span class="badge badge-dark" id="countdown-{{ lit.id }}" ></span>
{#                                                                                                                <span class="spinner-border text-primary" role="status"></span>#}
                                                                                                            </p>


                                                                                                            <script>
                                                                                                                (function () {
                                                                                                                    const countdownElement = document.getElementById('countdown-{{ lit.id }}');
                                                                                                                    const bedStartKey = `cleaning_start_{{ lit.id }}`;

                                                                                                                    // If no start time, set it to current time
                                                                                                                    if (!localStorage.getItem(bedStartKey)) {
                                                                                                                        localStorage.setItem(bedStartKey, Date.now());
                                                                                                                    }

                                                                                                                    // Calculate end time based on the stored start time
                                                                                                                    const startTime = parseInt(localStorage.getItem(bedStartKey), 10);
                                                                                                                    const endTime = startTime + 30 * 60 * 1000; // 20 minutes in milliseconds

                                                                                                                    function updateCountdown() {
                                                                                                                        const now = Date.now();
                                                                                                                        const remainingTime = endTime - now;

                                                                                                                        if (remainingTime <= 0) {
                                                                                                                            countdownElement.innerText = "Libre";
                                                                                                                            clearInterval(countdownInterval);
                                                                                                                            localStorage.removeItem(bedStartKey); // Clear from storage

                                                                                                                            // Send request to server to set is_cleaning to False
                                                                                                                            fetch("{% url 'set_cleaning_false' lit.id %}", {
                                                                                                                                method: "POST",
                                                                                                                                headers: {
                                                                                                                                    "X-CSRFToken": "{{ csrf_token }}",
                                                                                                                                    "Content-Type": "application/json",
                                                                                                                                },
                                                                                                                            })
                                                                                                                                .then(response => response.json())
                                                                                                                                .then(data => {
                                                                                                                                    console.log(data.message); // Confirm server response
                                                                                                                                    location.reload(); // Refresh the page after countdown ends
                                                                                                                                })
                                                                                                                                .catch(error => console.error('Error:', error));

                                                                                                                            return;
                                                                                                                        }

                                                                                                                        const minutes = Math.floor(remainingTime / (1000 * 60));
                                                                                                                        const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
                                                                                                                        countdownElement.innerText = `${minutes}m ${seconds}s`;
                                                                                                                    }

                                                                                                                    const countdownInterval = setInterval(updateCountdown, 1000);
                                                                                                                    updateCountdown();  // Initial call to set the display
                                                                                                                })();
                                                                                                            </script>

                                                                                                        </div>


                                                                                                    {% endif %}


                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}


                                                                </div>


                                                            </div>
                                                        </div>
  </div>
{% endfor %}
</div>


                                        </div><!-- .card-inner -->
                                       <div class="card-inner">
                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item"><a class="page-link" href="salle_attente/?page={{ page_obj.previous_page_number }}">Prev</a></li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">Prev</span></li>
                                                {% endif %}

                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                        <li class="page-item"><a class="page-link" href="salle_attente/?page={{ num }}">{{ num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <li class="page-item"><a class="page-link" href="salle_attente/?page={{ page_obj.next_page_number }}">Next</a></li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                                {% endif %}
                                            </ul>
                                        </div><!-- .card-inner -->
                                    </div><!-- .card-inner-group -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>


{% endblock %}