<div>
    <div class="form-inline flex-nowrap gx-3">
        <input type="text" wire:model="search" class="form-control" placeholder="Rechercher par nom de médicament...">
        <div class="form-wrap w-150px">
            <select wire:model="selected_categorie" class="form-select form-select-sm">
                <option value="">Toutes les catégories</option>
                {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-wrap w-150px">
            <select wire:model="selected_molecule" class="form-select form-select-sm">
                <option value="">Toutes les molécules</option>
                {% for molecule in molecules %}
                <option value="{{ molecule.id }}">{{ molecule.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <ul class="row g-gs preview-icon-svg p-3">
        {% for medocs in medicaments %}
        <li class="col-lg-3 col-6 col-sm-4">
            <div class="preview-icon-box card card-bordered">
                <div class="preview-icon-wrap">
                   <!-- SVG Icon -->
                </div>
                <span class="preview-icon-name">{{ medocs.nom|upper }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>