{% load static %}
{% load unicorn %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="afriqconsulting">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Page Title  -->
    <title>SMIT | KENEYA-H OSPITAL</title>
    <!-- StyleSheets  -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>  
    {% unicorn_scripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            height: auto,
            width: auto,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent | removeformat | help'
        });
    </script>
</head>

<body class="nk-body bg-white has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
           {% include 'layout/aside.html' %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="#" class="logo-link">
                                    <img class="logo-light logo-img" src="{% static 'images/logokeneya260.png' %}" srcset="{% static 'images/logokeneya260.png' %}" alt="logo">
                                    <img class="logo-dark logo-img" src="{% static 'images/logokeneya260.png' %}" srcset="{% static 'images/logokeneya260.png' %}" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                           {% include 'layout/notif_header.html' %}
                           {% include 'layout/user_log.html' %}
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                {% block content %}

                {% endblock %}
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2022 KENEYA by <a href="https://afriqconsulting.com" target="_blank">AFRIQCONSULTING</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/charts/gd-default.js' %}"></script>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<script type="text/javascript">
    $(document).ready(function () {
        Swal.fire({
            title: "Félicitation ! ",
            text: " {{ message }}",
            icon: "success",

        })
    });
</script>
{% elif message.tags == 'warning' %}
<script type="text/javascript">
    $(document).ready(function () {
        Swal.fire({
            title: "Attention alert",
            text: " {{ message }}",
            icon: "warning",

        })
    });
</script>
{% elif message.tags == 'error' %}
<script type="text/javascript">

    $(document).ready(function () {
        Swal.fire({
            title: "Attention Erreur",
            text: " {{ message }}",
            icon: "error",

        })

    });
</script>
{% endif %}
{% endfor %}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const darkSwitch = document.querySelector('.dark-switch');
    const body = document.body;

    // Check if the dark mode is enabled in localStorage
    if (localStorage.getItem('dark-mode') === 'enabled') {
        body.classList.add('dark-mode');
    }

    // Toggle dark mode
    darkSwitch.addEventListener('click', () => {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('dark-mode', 'disabled');
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('dark-mode', 'enabled');
        }
    });
});
</script>
</body>

</html>